<footer>
    <div class="footer-container">
        <div class="footer-logo">
            <img
                src="https://bluemet.com.uy/assets/svg/Imagotipo Vertical - BlueMet (Blanco).svg"
                alt="Imagotipo Bluemet"
            />
            <p>Copyright &copy; 2021 Bluemet. Todos los derechos reservados.</p>
        </div>

        <div>
            <div class="ubicacion">
                <h3>Ubicación</h3>
                <hr />

                <h5></h5>
                <div class="info">
                    <a
                        href="https://www.google.com.uy/maps/place/Bluemet/@-34.8186651,-55.9807022,18.75z/data=!4m5!3m4!1s0x959f88354bd53db1:0x9b7dfc64e256b1bd!8m2!3d-34.8187456!4d-55.9807582?hl=es-419"
                        target="_BLANK"
                        ><i class="fas fa-map-location-dot"></i> Ruta
                        Interbalnearia Km. 24.300, Canelones - Uruguay.</a
                    >
                </div>
            </div>

            <div class="contacto">
                <h3>Teléfonos</h3>
                <hr />

                <h5></h5>
                <div class="info">
                    <a href="tel:+59826964686"
                        ><i class="fas fa-phone"></i> +598 2696 4686</a
                    >
                </div>
                <div class="info">
                    <a href="tel:+59826958422"
                        ><i class="fas fa-phone"></i> +598 2695 8422</a
                    >
                </div>
            </div>
        </div>
        <div class="contacto">
            <h3>Correo Electrónico</h3>
            <hr />

            <h5>Principal:</h5>
            <div class="info">
                <a href="mailto:bluemet@adinet.com.uy"
                    ><i class="fas fa-envelope"></i> bluemet@adinet.com.uy</a
                >
            </div>

            <h5>Departamento Contable:</h5>
            <div class="info">
                <a href="mailto:contable.bluemet@gmail.com"
                    ><i class="fas fa-comment-dollar"></i>
                    contable.bluemet@gmail.com</a
                >
            </div>

            <h5>Administración:</h5>
            <div class="info">
                <a href="mailto:adm.bluemet@adinet.com.uy"
                    ><i class="fas fa-toolbox"></i> adm.bluemet@adinet.com.uy</a
                >
            </div>
        </div>
    </div>
    <div class="company-section">
        <p>Página realizada por <a href="#">Kybera &copy;</a></p>
    </div>
</footer>
